<!DOCTYPE html>
<html>
<head>
	<title>Generic Title</title>
</head>
<body>


	<p>

	<i>

	Upbeat music plays.

	</i>

	<p>

	<i>

	On screen text appears over a

	black background.

	</i>

	<p>

	<block>ON SCREEN TEXT<br>

	evenflo~

	ProComfort Protection Series~

	with Gel Matrix~

	For a safer, more peaceful

	ride.

	</block>

	<p>

	<i>

	A woman is driving down

	a street. Her baby cries, and

	the woman looks in the rearview

	mirror with a concerned look on

	her face. The baby is sitting in

	a car seat and crying.

	</i>

	<p>

	FEMALE NARRATOR

	Did you know

	that new parents are three times

	more likely

	to get into a car accident due

	to distracted driving?

	<p>

	<i>

	Fade to the woman driving down a

	street. She smiles and looks in

	the rearview mirror. Her baby is

	sitting in an Evenflo car seat.

	She continues smiling and

	driving, and her baby continues

	sitting in the car seat.

	</i>

	<p>

	<block>ON SCREEN TEXT<br>

	ProComfort~

	Protection Series

	</block>

	<p>

	FEMALE NARRATOR

	At Evenflo, we know

	a peaceful ride is a safer ride.

	When riding in a car, parents

	can shift their weights

	to stay comfortable. Properly

	harnessed children don't have

	that same flexibility.

	<p>

	<i>

	A woman straps her daughter into

	an Evenflo car seat and tightens

	the straps.

	</i>

	<p>

	<block>ON SCREEN TEXT<br>

	Exclusively at TARGET

	</block>

	<p>

	FEMALE NARRATOR

	Introducing the

	ProComfort Protection Series

	designed to keep

	your child content, so you can

	focus on the road.

	<p>

	<i>

	On screen text appears along

	with two, side-by-side thermal

	maps. The

	side labeled "WITH GEL MATRIX"

	is mostly green, and the side

	labeled "WITHOUT" is mostly red.

	</i>

	<p>

	<block>ON SCREEN TEXT<br>

	ProComfort~

	Protection Series~

	SEATED PRESSURE GRAPH

	</block>

	<p>

	<block>ON SCREEN TEXT<br>

	GEL MATRIX~

	COMFORT & SUPPORT

	</block>

	<p>

	FEMALE NARRATOR

	New ProComfort Protection Series

	dial-up the level of comfort

	with the introduction

	of Gel Matrix Technology.

	<p>

	<i>

	A woman tugs and twists a piece

	of gel padding.

	</i>

	<p>

	FEMALE NARRATOR

	This engineered

	medical-grade material reduces

	pressure point buildup

	and improves blood flow.

	<p>

	<i>

	An image of a hand holding one

	of the car seat's buckles.

	</i>

	<p>

	FEMALE NARRATOR

	ProComfort seats

	also include buckle pockets

	which store buckles

	for easy access and, more

	importantly,

	to protect your child from hot

	buckle burns.

	<p>

	<i>

	Side-by-side images of a car

	seat being involved in a car

	crash. The left image is an

	animation. The right image is of

	a crash test dummy in an Evenflo

	car seat. In both, the head and

	arms fly forward while the child

	stays buckled in. Fade to an

	Evenflo car seat spinning on a

	pedestal with zoomed-in views of

	its arms and seat.

	</i>

	<p>

	FEMALE NARRATOR

	Tested to twice the federal

	crash test standards, the

	ProComfort Protection Series

	delivers on both safety and

	comfort.

	<p>

	<i>

	The car seat spins on the

	pedestal with a zoomed-in view

	of the backrest. Multiple green

	and black car seats in the

	ProComfort Protection Series

	appear.

	</i>

	<p>

	FEMALE NARRATOR

	New Evenflo

	ProComfort Protection Series

	with Gel Matrix Technology

	offers you and your family

	a safer, more peaceful ride.

	<p>

	<i>

	Pink and black versions of the

	ProComfort Protection Series

	appear. Fade to black with on

	screen text.

	</i>

	<p>

	<block>ON SCREEN TEXT<br>

	evenflo~

	ProComfort Protection Series~

	with Gel Matrix~

	For a safer, more peaceful

	ride.

	</block>


</body>
</html>